@font-face {
	font-family: "Myriad Pro";
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot") format("embedded-opentype"),
		url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
		url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
html { 
  box-sizing: border-box; 
}
*, *::before, *::after { 
  box-sizing: inherit; 
}
body { 
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  
  
  color: #000000;
  background-color: #ffffff;
}
img { 
  max-width: 100%;
}
a { 
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.flex-container form {
  width: 270px;
}
.header {
  margin-bottom: 59px;
}
.header-top {
  background-color: #293449;
  color: #ffffff;
}
.header-top-flex {
  display: flex;
  justify-content: space-between;
}
.header-top a {
  color: #ffffff;
  text-align: center;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  width: 150px;
}
.header-top a:hover {
  background-color: #212a3a;
}
.header-top a:active {
  background-color: #212a3a;
  color: rgba(255,255,255,0.5);
}
.container .logo {
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 21px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  cursor: pointer;
  display: block;
  width: 220px;
  padding: 12px 54px;
  letter-spacing: -0.4px;
  box-shadow: 0 5px 0 0 #b52933;
}
.container .logo-ref:hover {
  background-color: #ca2c37;
}
.container .logo-ref:active {
  background-color: #ba2732;
}
.header-top .order {
  background-color: #63a63e;
}
.header-top .order:hover {
  background-color: #5fbb2d;
}
.header-top .order:active {
  background-color: #518534;
  color: rgba(255,255,255,0.5);
}
.header-bottom {
  background-color: #f3f7f9;
  padding-bottom: 60px;
}
.header-bottom-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.about-shop {
  width: 310px;
  padding: 49px 65px 10px 53px;
  
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}
.header-address {
  padding-top: 59px;
  width: 330px;
}

.header-address p {
  padding-left: 20px;
  
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.header-address a {
  display: inline-block;
  vertical-align: middle;
  padding-left: 74px;
  padding-right: 50px;
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  color: #ee3643;
}
.user-auth {
  width: 300px;
  padding-top: 58px;
}
.user-auth a:first-child {
  padding-left: 66px;
}
.user-auth a:last-child {
  padding-left: 28px;
  margin-left: 30px;
}

.user-auth a {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.user-auth a:hover {
  color: #ee3643;
}
.user-auth a:active {
  color: rgba(0,0,0,0.3);
}
.user-log a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}
.user-log a:active {
  color: rgba(0,0,0,0.3);
}
.orders-list a {
  border-bottom: 1px solid #32425c;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}
.orders-list a:hover {
  color: #ee3643;
  border-bottom-color: #ee3643;
}
.orders-list a:active {
  color: rgba(0,0,0,0.3);
  border-bottom-color: rgba(0,0,0,0.3);
}
.navigation {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}
.navigation ul {
  list-style: none;
}
.main-menu {
  display: flex;
  flex-wrap: wrap;
}
.main-menu li {
  flex-grow: 1;
  padding: 18px 10px;
}

.navigation a {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
}
.navigation a:hover {
  background-color: #293449;
}
.navigation a:active{
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}
.promo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promo-list>li {
  flex-grow: 1;
}
.fieatures-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promo-card,
.feature-card {
  margin-bottom: 10px;
  margin-right: 10px;
  
  width: 300px;
}
.feature-card {
  margin-right: 0;
  flex-grow: 1;
}
.promo-card p,
.feature-card p {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.feature-card:nth-of-type(n) {
  background-color: #8ed78f;
}
.promo-card:nth-of-type(n),
.feature-card:nth-of-type(2n) {
  background-color: #ffbf47;
}
.promo-card:nth-of-type(2n) {
  background-color: #3bbce3;
}
.promo-card:nth-of-type(3n) {
  background-color: #dc91d8;
  margin-right: 0;
}

.promo-card a,
.feature-card a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: rgba(229, 229, 229, 0.1);
}
.promo-card a:hover
.feature-card a:hover {

  background-color: rgba(229, 229, 229, 0.2);
}
.promo-card a:active,
.feature-card a:active {

  background-color: rgba(229, 229, 229, 0.3);
}
.btn {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
}
.btn:hover {
  background-color: #ca2c37;
}
.btn:active{
  background-color: #ba2732;
}
.features {
  display: flex;
  justify-content: space-between;
}
.features>li {
  flex-grow: 1;
}
.features .slider {
  width: 600px;
  margin-right: 10px;
  flex-grow: 2;
}
.drills {
  width: 100%;
  background-color: #735a52;
  padding: 95px 0;
  display: none;
  flex-grow: 1;
  background-image: url("../img/slider_1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.perforators {
  width: 100%;
  padding: 95px 0;
  background-color: #7e6f5e;
  flex-grow: 1;
  background-image: url("../img/slider_2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.slider p:first-of-type {
  font-size: 31px;
  line-height: 31px;
  text-transform: uppercase;
  color: #f3f7f9;
}
.slider p:last-of-type {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}
.about-us-flex {
  display: flex;
  justify-content: space-between;
}
.about-us h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.contacts a:first-of-type {
  display: block;
  background-image: url("../img/map.jpg");
  padding: 20px 0;
}
.delivery-list {
  list-style: none;
}
.delivery-list li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.write-us {
  margin: 0 auto;
  width: 620px;
  outline: 2px solid yellow
}
.write-us label {
  font-size: 18px;
  line-height: 18px;
}
.write-us .btn-container {
  background-color: #f4f4f4;
}
.map {
  width: 940px;
  height: 480px;
  display: none;
}
.footer {
  display: flex;
  flex-direction: column;
}
.footer-address p,
.footer-address a {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #ffffff;
}
.footer-top {
  background-color: #32425c;
}
.footer-top-flex {
  display: flex;
  justify-content: space-between;
}
.footer-navigation ul {
  list-style: none;
}
.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
}
.footer-navigation a:hover {
  text-decoration: underline;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
}
.footer-menu a {
  color: #ffffff;
}
.footer-menu a:active {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
.promo-menu {
  display: flex;
  justify-content: space-between;
}
.promo-menu a {
  color: #ffda96;
}
.promo-menu a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}
.footer-bottom {
  background-color: #293449;
}
.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
}
.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footer-links {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; 
}
.footer-links a {
  font-size: 16px;
  line-height: 18px;
  color: #ffda96;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs a{
  font-family: "PT-Sans", "Arial", sans-serif;
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
  color: #000000;

}
.catalog h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}
.filters-flex {
  display: flex;
  justify-content: space-between;
}
.filters {
  text-transform: uppercase;
  font-family: "PT-Sans", "Arial", sans-serif;
}
.filters ul {
  list-style: none;
  padding: 0;
}
.checkbox + label,
.radio + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox:checked+label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 26px;
  height: 24px;
  background: url("../img/checkbox-on.svg") no-repeat;
}
.checkbox:not(:checked)+label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 26px;
  height: 24px;
  background: url("../img/checkbox-off.svg") no-repeat;
}
.radio:checked+label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 26px;
  height: 24px;
  background: url("../img/radio-on.svg") no-repeat;
}
.radio:not(:checked)+label::before {
  position: absolute;
  left: 0;
  content: "";
  width: 26px;
  height: 24px;
  background: url("../img/radio-off.svg") no-repeat;
}
.goods-list {
  list-style: none;
  font-family: "PT-Sans", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.goods-item {
  width: 200px;
  flex-grow: 1;
}
.goods-item p:first-of-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.goods-item .old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;

}
.goods-item p:last-of-type {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
.button-group {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.button-group .buy {
  color: #ffffff;
  background-color: #63a63e;
}
.button-group .buy:hover {
  background-color: #5fbb2d;
}
.button-group .buy:active {
  background-color: #518534;
}
.button-group .bookmark {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #63a63e;
}
.button-group .bookmark:hover {
  border: 2px solid #c1c6ce;
}
.button-group .bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}
.append-cart {
  outline: 2px solid yellow;
}
.paginator {
  display: flex;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}